services:
  app:
    build: .
    container_name: gerenciador_app
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: gerenciador_db
    environment:
      MYSQL_DATABASE: gerenciador_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: root
    ports:
      - "3307:3306"
